.btn {
    border-radius: 34px 8px 34px 34px;
    bottom: 6px;
    box-shadow: 0 5px 4px 0 rgb(0 0 0 / 26%);
    color: #fff;
    cursor: pointer;
    display: table;
    position: fixed;
    right: 5px;
    z-index: 9995;
    height: 60px;
    width: 60px;
    background-color: blue;
}
