.contact-btn {
  border-radius: 34px 8px 34px 34px;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 60px;
  width: 60px;
  background-color: #126e82;
  outline: none;
}

.contact-icons-container {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  opacity: 1;
}

.contact-options-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 30px;
  width: 0px;
  z-index: -1;
  position: relative;
  right: 15px;
  opacity: 0;
  transition: linear all 0.5s;
  border-radius: 4px;
}

.contact-options-container.opt-updated {
  width: 100px;
  transition: linear all 0.5s;
  background: linear-gradient(to bottom right, rgba(18, 110, 130, 1), rgba(255, 255, 255, 0));
  padding: 10px;
  opacity: 1;
}

.align-icon {
  position: relative;
  font-size: 24px;
  color: #d8e3e7;
}

.fa-whatsapp {
  background-color: green;
  color: white;
  border-radius: 50%;
}

.fa-user-alt {
  color: firebrick;
}

.whatsapp, .contact {
  padding: 5px;
}