
.backgrnd {
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../../images/img-home.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-container {
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
}

section ul {
    display: flex;
    margin-bottom: 10px;
    padding-left: 0;
}

section ul li {
    list-style: none;
    background: #eee;
    padding: 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}

section ul li.active {
    background: #03a9f4;
    color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.Images {
    display: flex;
    flex-wrap: wrap;
}

.Images .itemBox {
    position: relative;
    width: 19%;
    height: 19%;
    margin: 5px;
    transform: scale(1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.Images .itemBox:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    z-index: 1;
}

.Images .itemBox img {
    max-width: 100%;
}