.box {
  padding: 10px;
  background: #000;
  bottom: 0;
  left: 0;
  color: #fff;
}

.box .MuiGrid-root {
  display: flex;
  padding: 5px 0;
  flex-wrap: wrap;
  align-items: center;
}

.box > .MuiGrid-root:first-child .MuiGrid-item {
  justify-content: center;
}

.copyrights-text {
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}
